html{
    background-color: #f9f9f9;
}
.main{
    height: 920px;
    width: 990px;
    padding: 50px 45px 60px 45px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border-left: 2px solid #dbdbdb;
    border-right: 2px solid #dbdbdb;
}
ul {
    margin: 0;
    padding: 0;
    border: 0;
}

.header {
    margin: 0;
    padding: 0;
    border: 0;
}
.menu_block {
    margin: 0;
    padding: 0;
    margin-top: 40px;
    border: 0;
    background-color: #535353;
}
.menu_block li {
    display: inline-block;
    padding:20px 40px 15px 40px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    font-family: Open Sans;
    font-size: 15px;
    color: #ffffff;
}

.menu_block li:hover{
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;
    background: #444444;
}
.menu_block li a{
    color: #ffffff;
    text-decoration: none;
    position: relative;
}
.container {
    padding:0;
    margin:0;
    border:0;
    padding-top:40px;
    font-family: Open Sans;
}
.container:after {
    content:"";
    display:block;
    clear:both;
}
.left_menu {
    padding:0;
    margin:0;
    border:0;
    display: inline-block;
    float:left;
    width: 267px;
}
.left_menu li {
    border-top: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
    padding:15px;
    width: 235px;
    font-size:14px;
}
.left_menu li:last-child{
    border-bottom: 1px solid #c8c8c8 ;
}
.left_menu li:hover {
    padding-left:30px;
    width: 220px;
    background: #f9f9f9;
}
.left_menu li a {
    color: #656363;
    text-decoration: none;
}
.content {
    padding:0;
    margin:0;
    border:0;
    display: inline-block;
    width:680px;
    float:right;
}
.content_image {
    width: 680px;
    height: 400px;
    padding:0;
    margin:0;
    border: 1px solid #c8c8c8;
}

.content_text {
    border:0;
    padding:0;
    padding-top: 40px;
    margin:0;
    display: inline-block;
    text-align: left;
}
.content_text p {
    padding-top:  11px;
    font-size: 14px;
}
.content:after{
    content: '';
    clear: both;
}
.footer {
    padding:0;
    margin:0;
    border: 0;
    background-color: #e1e1e1;
    margin-top:75px;
    height:45px;
    font-family: Open Sans;
}
.footer li {
    display: inline-block;
    padding:0;
    margin:0;
    border: 0;
    padding:15px 70px 10px 35px;
    font-size:14px;
}
.footer li:hover {
    text-decoration: underline;
}
.footer li a {
    color: #2c2c2c;
    text-decoration: none;
}
#active {
    text-decoration: none;
    position: relative;
    left: 120px;
}

